/* Inter upright (.ttf) */
@font-face{
  font-family:"Inter";
  src:url("../fonts/inter/Inter-Variable.ttf") format("truetype");
  font-weight:100 900;
  font-style:normal;
  font-display:swap;
}

/* Inter italic (.ttf) – usalo solo si subiste el archivo italic */
@font-face{
  font-family:"Inter";
  src:url("../fonts/inter/Inter-Italic-Variable.ttf") format("truetype");
  font-weight:100 900;
  font-style:italic;
  font-display:swap;
}

/* JetBrains Mono (.ttf) */
@font-face{
  font-family:"JetBrains Mono";
  src:url("../fonts/jetbrains-mono/JetBrainsMono-Variable.ttf") format("truetype");
  font-weight:100 800;
  font-style:normal;
  font-display:swap;
}
